* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/background-blue.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: -1;
  pointer-events: none;
}

.menu-item {
  transition: 0.3s;
}

.menu-item:hover {
  color: #393939;
  scale: 1.2;
}

.menu-item:active {
  scale: 0.95;
}

.profile-link {
  transition: 0.3s;
  border-radius: 5px;
}

.profile-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.1rem 0.5rem;
}

.profile-link:active {
  scale: 0.95;
}

.markdown-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
}

.markdown-body h1,
.markdown-body h2 {
  padding-block: 0.8rem;
}

.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6,
.markdown-body pre {
  padding-block: 0.4rem;
}

.markdown-body ul,
.markdown-body ul {
  padding-left: 2rem;
}

.markdown-body li::first-letter {
  text-transform: uppercase;
}

.markdown-body p {
  padding-block: 0.2rem;
}

.markdown-body hr {
  margin-block: 1rem;
}

.markdown-body blockquote {
  margin-block: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

@keyframes blinkGlow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    color: #ffffff;
  }
}
