* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/background-blue.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: -1;
  pointer-events: none;
}

.menu-item {
  transition: 0.3s;
}

.menu-item:hover {
  color: #393939;
  scale: 1.2;
}

.menu-item:active {
  scale: 0.95;
}

.profile-link {
  transition: 0.3s;
  border-radius: 5px;
}

.profile-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.1rem 0.5rem;
}

.profile-link:active {
  scale: 0.95;
}
